<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p>For more information about our products, write your social security number on a pink post-it note and slip it in the slot at the back of the second iron sculpture at Margaret Pace Park in downtown Miami. We will be in touch with you soon.</p>
