<% provide(:title, "Help") %>

<h1>Help</h1>
<p>Mei aeque disputando cu, has malorum periculis adipiscing et. Eos ne autem virtute, eum cu sint nonumes perfecto, hinc illud neglegentur usu at. Quo everti iracundia te. Explicari appellantur nec at, inermis reformidans definitiones vim no, mea sale populo sententiae at. Omnesque vulputate pertinacia in per, at eum inani zril virtute. Eius convenire mel ex.</p>
